<template data-swatch-template>
  <tooltip-component
    class="swatches swatch__button swatch__button--{{ settings.swatch_style }}"
    data-swatch-button
    data-tooltip
  >
    <a class="swatch__link" data-swatch-link>
      <span class="visually-hidden" data-swatch-text></span>
    </a>
  </tooltip-component>
</template>
