{%- liquid
  assign image_left = section.settings.image_left
  assign image_right = section.settings.image_right  

-%}


<div class="img_row_50_50 padding_{{ section.settings.image_padding_l }}">
<div class="img_50">
{%- render 'image-hero',
    image_desktop: image_left,            
    sizes: sizes,
    desktop_height: 'auto',
    mobile_height: 'auto'
-%}
</div> 

<div class="img_50">
{%- render 'image-hero',
    image_desktop: image_left,            
    sizes: sizes,
    desktop_height: 'auto',
    mobile_height: 'auto'
-%}
</div> 

</div>

{% schema %}
{
  "name": "Image 50 / 50",
  "class": "image-50-50-section",
  "settings": [
    {
      "type": "header",
      "content": "Left image"
    },
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Primary image"
    },
    {
          "type": "checkbox",
          "id": "image_padding_l",
          "label": "Image paading",
          "default": false
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
      "type": "header",
      "content": "Right image"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Primary image"
    },
    {
          "type": "checkbox",
          "id": "image_padding_r",
          "label": "Image paading",
          "default": false
        },
        {
          "type": "url",
          "id": "link_r",
          "label": "Link"
        }        
],
  "presets": [
    {
       "name": "Image 50 / 50",
      "category": "Custom"
    }
  ]
}
{% endschema %}
