@media(max-width:1299px){
.template-index .brick__block.brick__block--images:first-child {
	padding-left: 100px;
}
.template-index .brick__section--reversed .brick__block.brick__block--images:first-child {	
	padding-right: 100px;
}
.grandparent .dropdown__family {
	padding-left: 30px;
	padding-right: 30px;	
}
.navlink.navlink--toplevel.top_link_home {
	margin-right: 5px;
}
.header__desktop__upper, .header__desktop__lower, .header__mobile {
	padding-left: 30px;
	padding-right: 30px; 
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image + .product-item--featured-image {
	padding-right: 120px;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image {
	padding-left: 120px;
}
#about #MainContent .image-banner-section:last-child .hero__wrapper.frame.wrapper--full-padded {
	padding-left: 140px;
	padding-right: 140px;
}

}
/*END 1299px*/

@media(max-width:1199px){

.product__content .form__width {
	max-width: 380px;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image + .product-item--featured-image {
	padding-right: 100px;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image {
	padding-left: 100px;
}
.template-collection .hero__wrapper.frame.wrapper--full-padded {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image + .product-item--featured-image {
	margin-top: 60px;
	margin-bottom: 90px;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image {
	margin-top: 60px;
	margin-bottom: 90px;
}

}
/*END 1199px*/

@media(max-width:989px){ 
 .header__mobile__button .navlink__cart__content > .navtext {
    display: none;
  }
  .header__desktop__button .navlink--toplevel .icon, .header__mobile__button .navlink--toplevel .icon {
	display: inherit;
}
.header__mobile__button .navtext {
	display: none;
}
.header__desktop{
	display: none;
}
.header__mobile {
	display: grid;
}
.navlink .icon {
	--icon-size: 20px;
}
.header__desktop__upper, .header__desktop__lower, .header__mobile {
	padding-left: 20px;
	padding-right: 20px;
}
.icon.icon-search + svg {
	display: none !important;
}
.navlink .icon.icon-search {
	--icon-size: 14px;
	width: 15px;
	height: auto;
}
.sliderow__title {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 0 20px;
}
.sliderule__chevron .icon {
	width: 18px;
	height: auto;
}
.mobile-menu .drawer__content__scroll {
	padding-top: 0;
	flex-wrap: wrap;
	flex-direction: row;
	padding-bottom: 20px;
	border-bottom: 1px dashed;
}

.mobile-menu__block.mobile-menu__block--image.block-padding {
	width: 50%;
	padding: 110px 5px 0 20px;
}
.mobile-menu__block.mobile-menu__block--image.block-padding + .mobile-menu__block--image {
	padding: 110px 20px 0 5px;
}
.mobile-menu__block--menu {
	width: 100%;
	margin-bottom: -80px;
}
.sliderow--back .sliderow__title {
	justify-content: left;
}
.drawer--header .drawer__close {
	--icon-size: 22px;
	position: relative;
	left: auto;
	right: -7px;
	border: none;
}
.drawer--header .drawer__head {
	padding-bottom: 0;
}
.header__mobile__right, .header__mobile__right .header__mobile__button {
  transform-style: initial!important;
}
.search-form .input-holder,
.search-popdown .predictive-search .wrapper {
	max-width: 80%;
}
.search-popdown {
	top: 58px;
}
.index-collections-list .grid {
	--columns: 4;
}
.template-index .brick__block.brick__block--images:first-child {
	padding-left: 70px;
}
.template-index .brick__section--reversed .brick__block.brick__block--images:first-child {
	padding-right: 70px;
}
.hero__content__wrapper.frame__item {	
	padding-bottom: 12px;
}
.site-footer {
	padding-left: 20px;
  padding-right: 20px;
}
.collection__nav--filter.collection__nav--sort {
	margin-top: 50px;
}
.collection__products .grid {
	--columns: 4;
}
.swatch__button--square .sibling__link, .swatch__button--square .swatch__link, .swatch__button--square input ~ label {
	width: 12px;
	height: 15px;
}
.product-item--left .radio__fieldset--swatches .swatch__button {
	margin: 0 4px 0 0;
}
.radio__fieldset--pgi .swatch__button {
	padding: 0 0 5px;	
}
.product__content .form__width {
	max-width: 80%;
	margin: 0 auto;
}
.product__content {
	padding-top: 80px;
	padding-bottom: 80px;
}
.product__block.product__description.rte.block-padding {
	padding: 30px 0 30px;
}
.vertical-scroll {
	height: 80vh;
}
.vertical-scroll .product__slide, .vertical-scroll [data-slide], .vertical-scroll .media, .vertical-scroll .product__photo {
	height: 80vh !important;
}
.product__block.product__block--buttons {
	margin-bottom: 40px;
}
.cart__content {
	margin-right: 20px;
}
#custom_about {
	padding: 100px 50px;
}
.navlink .icon {
	--icon-size: 17px;
}
.wrapper--full-padded,
.wrapper {
	padding-left: 20px;
	padding-right: 20px;
}
.footer__block.footer__block--menu {
	flex-basis: 62%;
}
.footer__block {
	flex-basis: 27%;
}
.supporting-menu__copyright {
	width: 33%;
}
.navlink .icon.icon-search path {
	stroke-width: 1px;
}
.header__mobile__hamburger.navlink.navlink--toplevel .navtext {
	display: inherit;
	font-size: 11px;
	letter-spacing: 0.5px;
}
.header__mobile__hamburger.navlink.navlink--toplevel .icon.icon-menu {
	display: none;
}
.header__mobile__button .navlink__cart__content > .navtext {
	display: inherit;
}
.header__mobile__button .navlink--toplevel .icon {
    display: none;
  }
  .header__cart__status.navtext {
	display: inherit;
	letter-spacing: normal;
}
.header__mobile__right .header__mobile__button:nth-child(2) {
	display: none !important;
}
.header__mobile__button .navlink--toplevel .icon.icon-search {
	display: inherit;
	width: 10px;    
}
body{
	padding: 0!important;
}
.header__cart__status.navtext {
	display: inherit;
	letter-spacing: normal;
	background: transparent;
	color: #000;
	position: static;
}
.mobile-menu .drawer__inner {
	max-width: 100%;
}
.underlay.drawer__underlay {
	background: transparent;
}
.drawer--header .drawer__inner {
	border-right: 0px solid var(--border);
	box-shadow: none;
	background: #fff;
}
.mobile-menu__block.mobile-menu__block--account.block-padding.mo_account {
	width: 100%;
	margin-bottom: 0;
	margin-top: auto;
}
.mobile-menu .drawer__content__scroll {
	padding-bottom: 20px;
}
mobile-menu .drawer__inner {
	top: 88px;
	overflow: inherit;
}
.mobile-menu__block--menu::after {
	background: transparent;
}
.drawer__content__scroll {
	max-height: calc(100vh - 115px);
}
.mobile-menu__block.mobile-menu__block--account.block-padding.mo_account {
	padding: 30px 20px;
}
.sliderow {
	background: transparent;
}
.drawer--header .drawer__close {
	font-size: 12px;
	letter-spacing: .3px;
	border-bottom: 1px solid;
	padding-bottom: 2px;
	position: absolute;
	top: -35px;
	right: 20px;
}
body.menu-open .header__mobile__hamburger,
body.menu-open .header__mobile__right{
	opacity: 0;
}
body.scrolled mobile-menu .drawer__inner {
	top: 58px;
	
}
.mobile-menu .drawer__content__scroll {
	border-bottom: 0px dashed;
	padding-bottom: 0;
}
span.header__cart__status__holder {
    margin: 0;
}
.navlink--cart--text .navtext::after{
	height: 0!important;
}
.navlink--cart--text .navtext {
    margin: 0;
}
.header__logo__text {
    padding: 0!important;
}
.header__logo__text svg {
    padding: 0!important;
	float: left;
}
button.header__mobile__hamburger.navlink.navlink--toplevel {
    position: relative;
    top: 1px;
}
a.navlink.navlink--cart.navlink--cart--text.navlink--toplevel {
    top: 1px;
}
.predictive-search {
	top: 75px;
	padding: 20px 0px !important;
}
.template-collection .seven-fifty-height-hero {
	min-height: 350px;
}
.template-collection .index-rte .hero__content__wrapper {	
	max-width: 450px;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image {
	padding-left: 50px;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image + .product-item--featured-image {
	padding-right: 50px;
}
#about #MainContent .image-banner-section:last-child .hero__wrapper.frame.wrapper--full-padded {
	padding-left: 60px;
	padding-right: 60px;
}
.template-product .custom-section-row .brick__block__image {	
	padding-right:20px;
}
.mobile-menu__block.mobile-menu__block--account.block-padding.mo_account {
	padding: 0px 20px 100px;
	margin-top: 0px;
}

  mobile-menu .drawer__content__scroll {
	align-items: start;
	row-gap: 30px;
  }
  .mobile-menu__block--menu {	
	margin-bottom: 0;
}
}
/*END 989px*/


@media(max-width:767px){ 
.navlink .icon {
	--icon-size: 18px;
}
.navlink .icon.icon-search {
	width: 14px;
}
.navlink--toplevel {
	padding: 0px 5px 0;
}
.header__logo__text {
	height: 52px;
}
.icon.icon-profile-circled {
	--icon-size: 16px;
}
.index-collections-list .grid {
	--columns: 2;
}
.collection__products .grid {
	--columns: 2;
}
.header__logo__text svg {
	height: auto;
	width: 100px;
}
.header__logo__text {
	padding: 4px 0 0;
}
.hero_text_below_true .hero__content {
	margin: 20px 0 30px;
}
.template-index .brick__block.brick__block--images:first-child {
	padding-left: 0;
}
.template-index .brick__section--reversed .brick__block.brick__block--images:first-child {
	padding-right: 0;
}
.brick__block--three-quarters {
	flex: 0 0 100%;
}
.brick__block__text {
	padding-bottom: 20px;
}
.brick__block__text .hero__media {
	width: 55% !important;
	align-self: self-start;
	margin-bottom: 58px;
}
.brick__section.brick__section--reversed.wrapper--full.image-height.image-height--mobile {
	padding: 0 20px;
}
#shopify-section-template--25793607106858__section_double_tYnKWg .hero__button {
	width: 50%;	
}
.brick__section--reversed-mobile .brick__block:nth-child(2):last-child {
	order: 0;
}
.predictive-search {
	padding: 20px 0px !important;
}
.search-form .input-holder, .search-popdown .predictive-search .wrapper {
	max-width: 90%;
}
.predictive-search__column {
	width: 100%;
}
.predictive-search__layout {
	flex-direction: column;
	flex-wrap: wrap;
}
.search-popdown .product-item__image {
	padding-top: 107px;
	width: 80px;
}
.product-item__info.body-medium {
	flex-direction: column;
}
.product-information .price {
	margin-top: 0;
}
.search__caption.caps {
	top: 0;
	text-align: center;
  width: 100%;
}
.collection__nav--filter.collection__nav--sort {
	justify-content: space-between;
	padding: 10px 10px;
}
.collection__nav--filter.collection__nav--sort {
	margin-top: 20px;
}
.vertical-scroll .product__slide, .vertical-scroll [data-slide], .vertical-scroll .media, .vertical-scroll .product__photo {
	height: 50vh !important;
}
.vertical-scroll {
	height: 50vh;
}
.template-product [data-section-type="custom-content"] .brick__block__text {
	padding: 15px 20px 0;
}
.product__content {
	padding-top: 40px;
	padding-bottom: 20px;
}
.template-product .brick__section.brick__section--reversed-mobile.brick--margin.wrapper--full {
	flex-direction: column-reverse;
}
.product__content .form__width {
	max-width: 100%;
	padding: 0 20px;
}

.product__block.product__description.rte.block-padding {
	padding: 10px 0 20px;
}
.product__block {
	margin-bottom: 12px;
}
.accordion__content {
	padding: 20px 0;
}
.footer__blocks {	
	flex-direction: column-reverse;
}
.rte.footer__newsletter__text {
	margin-bottom: 0px;
	margin-top: 10px;
}
.footer__block.footer__block--newsletter {
	margin-bottom: 50px;
}
.supporting-menu__item.supporting-menu__item--copyright {
	flex-direction: column-reverse;
	align-items: start;
}
.supporting-menu__copyright {
	gap: 20px;
}
.supporting-menu__copyright {
	width: 100%;
	margin: 0 0 5px;
}
.site-footer-wrapper.section-padding {
	padding-bottom: 20px;
}
.rte.footer__newsletter__text p {
	text-align: left;
}
#custom_about {
	padding: 40px 20px;
}
#SectionColumns--template--25793607270698__columns {
	padding-bottom: 20px;
}
#Hero--template--25793607270698__section_hero_EEczzw {
	padding-bottom: 20px;
}
.section-sidebar__title {
	margin-bottom: 25px;
}
.section-sidebar__aside {
	display: inherit;
}
.section-sidebar__text.rte h6 {
	width: 100%;
}
.section-sidebar__text.rte p {
	width: 100%;
}
.section-sidebar__text.rte {
	padding: 30px 0 30px;
}
.section-sidebar__body {
	float: left;
	width: 100%;
	padding-bottom: 40px;
}
.section-sidebar {
	float: left;
	width: 100%;
	padding: 30px 0;
}
.large--hide{
	display: inherit!important;
}
.small--hide{
	display: none!important;
}
.faqdropdown-menu {
	display: block;
	transition: height 0.3s ease;
	overflow: hidden;
	height: 0;
	visibility: hidden;
	clear: both;
	position: absolute;
	top: 100%;
	background: #F2F2F1;
	padding: 0;
	z-index: 10000;
	width: 100%;
}

.faqdropdown-menu.is-open {  
  height: 120px;
  visibility: visible;
}


.faqdropdown-trigger {
	float: left;
	width: 100%;
	padding: 13px 15px;
	text-align: left;
	border: 1px solid #696969;
	margin: 0 0 0px;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.5px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.faqdropdown-trigger .icon.icon-nav-arrow-down {
	width: 10px;
	height: auto;
}
.faqmenu_mo {
	position: relative;
	float: left;
	width: 100%;
}
.faqmenu_mo {
	position: relative;
	float: left;
	width: 100%;
	z-index: 12;
}
.section-sidebar__aside {
	display: inherit;
	position: relative;
	z-index: 9;
} 
.widget__links.widget__links--secondary li {
	margin: 0;
	padding: 8px 15px;
}
.section-sidebar__content {
	float: left;
	width: 100%;
	margin-top: 40px;

}
#contact-us-page {
	margin: 0;
	padding: 0 8px;
}
body .shopify-policy__container {
	padding: 40px 20px 100px;
}
.shopify-policy__body p {
	margin: 0 0 20px;
}
.account {
	margin: 20px 0 60px;
}
.account-sidebar__title {
	padding: 7px 8px;
	border: 1px solid #000;
	background: #000;
    color: #fff;
}
.account-sidebar__title .icon.icon-nav-arrow-down {
	width: 10px;
	height: auto;
}
.widget__links.widget__links--secondary li {
	margin: 0;
	padding: 0 10px 12px;
	border: none;
}
.account-sidebar a {
	padding: 0;
}
.account-main .page__heading {
	padding-bottom: 30px;	
}
.account-header h2 {
	margin: 0 0 30px;
	padding: 0 0 30px;
}
.account form {
	padding: 20px 0 10px;
}
.cart .cart__item__content__left {
	flex-wrap: wrap;
}
.cart__quantity-wrapper {
	padding: 0;
}
#cartForm .cart__items .cart__quantity-counter {
	width: fit-content;
	flex-direction: row;
	align-items: center;
	margin: 10px 0;
	gap: 20px;
}
.cart__widget__title .icon.icon-nav-arrow-down {
	width: 10px;
	height: auto;
	right: 0;
}
.popout--sort .popout-list {
	margin-top: 20px;
}
#cart-drawer .cart__quantity-wrapper {
	padding: 0 10px;
}
#about .brick__block--text .hero__content--compact {
	padding: 0;	
}
.faqmenu_mo .widget__links.widget__links--secondary li {
	margin: 0;
	padding: 10px 15px 0;
	border: none;
}
.faqmenu_mo .widget__link.is-selected {
	margin-bottom: 4px;
}
.faqdropdown-menu {
	display: flex;
	flex-direction: column;
}
.predictive-search {
	min-height: 80vh;
}
body {
	padding: 0 !important;
}
.vertical-progress {
	left: 20px;
}
.header__mobile__hamburger.navlink.navlink--toplevel .navtext {
	font-size: 9px;
}
.navlink--toplevel span, .parent .navlink--child span, .grandparent .navlink--grandchild span {
	font-size: 9px;	
}
.btn, .shopify-payment-button .shopify-payment-button__button--unbranded, #challenge .shopify-challenge__button {
	font-size: 9px;
}
.grid--mobile-slider .grid-item {
	width: calc(100% - 210px);
margin-right: 5px;
}
.grid__items-holder {
	margin-top: 21px;
}
#CollectionsList--template--25793607106858__section_collections_list_pW6J9e {
	padding-top: 10px;
}
.collection-item__info span {
	font-size: 9px;
}
div.index-collections-list {
	padding-bottom: 12px!important;
}
.hero__content__wrapper.frame__item {
	padding-bottom: 0;
}
.hero_text_below_true .hero__content {
	margin: 10px 0 20px;
}
.brick__block--three-quarters {
	flex: 0 0 275px;
	margin: 0 auto;
}
#shopify-section-template--25793607106858__double .hero__content.hero__content--compact.hero__content--no-padding .hero__button {
	display: inherit;
	margin-bottom: 75px;
}
#shopify-section-template--25793607106858__section_rich_text_LXTWpT {
	display: none;
}
.brick__block--text {
	max-width: 275px;
	margin: 0 auto;
	text-align: right;
}
.brick__block__text {
	padding: 0;
}
.index-image-text .hero__content {
	align-items: flex-end;
}
.mobile-menu__block.mobile-menu__block--image.block-padding {	
	padding: 0px 5px 0 20px;
	margin: 0;
}
.mobile-menu__block.mobile-menu__block--image.block-padding + .mobile-menu__block--image {
	padding: 0px 20px 0 5px;
	margin: 0;
}
.drawer__content__scroll {
	max-height: calc(100vh - 82px);
	border-bottom: 0px dashed;
}
.mobile-menu .drawer__content__scroll {
	height: fit-content;
}
 .four-fifty-height-hero--mobile {
	min-height: 345px;
}
 .four-fifty-height-hero--mobile .image__fill img {
	object-fit: contain;
}
.index-image-text .brick__block__text .hero__media {
	margin-bottom: 78px;
	margin-left:12px;
}
#Hero--template--25793607106858__section_hero_GYDzFR .hero__wrapper.frame.wrapper--full {
	display: flex;
	flex-direction: column;
}
#BrickSection--template--25793607106858__section_double_tYnKWg.index-image-text .hero__content {	
	position: relative;
}
#BrickSection--template--25793607106858__section_double_tYnKWg .brick__block__text .hero__media {
	margin-bottom: 0px;
}
#shopify-section-template--25793607106858__section_double_tYnKWg .hero__button {
	width: 100%;
	max-width: 144px;
	position: absolute;
	bottom: 12px;
	right: 0;
	margin: 0;
}
#shopify-section-template--25793607106858__section_double_tYnKWg .brick__block--text {
	margin-top: 110px;
}
#shopify-section-template--25793607106858__section_double_tYnKWg .brick__block__text .hero__media {
	align-self: flex-end;
}
#BrickSection--template--25793607106858__section_double_tYnKWg {
	padding-bottom: 88px;
}
.site-footer-wrapper.section-padding{
	padding: 20px 0;
}
body, p, .search-popdown input[type="search"] {
	font-size: 10px;
}
.footer__quicklinks li a {
	font-size: 9px;
}
 
.supporting-menu__item.supporting-menu__item--copyright {
	flex-direction: row-reverse;	
	position: relative;
	justify-content: start;
}
.body-x-small {
	font-size: 10px;	
}
.supporting-menu__copyright {
	gap: 15px;
}
.footerlogo {
	position: absolute;
	right: 0px;
	top: 0;
}
.supporting-menu__copyright {
	width: auto;
	min-width: inherit;
	margin-right: 15px;
}
.btn.btn--scroll-top.btn--black.btn--solid.is-visible {
	display: none;
}
.footer__quicklinks li {
	margin: 0 0 2px;
}
.footer__block.footer__block--newsletter {
	margin-bottom: 20px;
}
.rte.footer__newsletter__text {
	margin-bottom: 20px;
	margin-top: 10px;
}
.newsletter-form .input-group__field {
	padding: 0 0 10px;
}
.supporting-menu.section-padding {
	padding-top: 10px;
}
.template-collection #MainContent .section-overlay-header{
	display: inherit;
}
.pagination-custom {
	padding: 10px 0 0;
}
.collection__products .grid-outer {
	padding: 0 10px 40px;
}
span.header__cart__status__holder {
    margin: 0;
}
.index-collections-list .grid-container.wrapper--full-padded {
    padding-right: 0;
}
.index-collections-list{
	overflow: hidden;
}
.popout--group .popout__toggle, .popout--sort .popout__toggle,
.collection_title {
	font-size: 9px;
}
.body-medium {
	font-size: 9px;
}
.badge-box {
	padding: 4px 13px;
}
.filter-group__heading {
	font-size: 9px;
}
.collection__sidebar__head h3 {
	font-size: 9px;
}
.btn.btn--outline.btn--primary {
	font-size: 9px;
}
.newsletter-form #subscribe-button-footer-0 {
	font-size: 9px;
}
.product-item--featured-image .product-item__image-overlay {
	padding: 0;
}
.product__images {
	position: relative;
	width: 100%;
	float: left;
	top: 0;
}
.product__content {
	width: 100%;
	float: left;
}
.product-item--featured-image {
	grid-column: 1 / -1;
}
.product-item--featured-image img {
	position: static;
	height: auto;
}
.product-item--featured-image .product-item__image {
	height: auto;
}
.predictive-search {
	top: 49px;
}
.product-item {
	margin-bottom: 0;
}
.product-item__title {
	font-size: 9px;
}
.product-item__price__holder {
	font-size: 9px;
padding-top: 2px;
}
.swatch__button--square .sibling__link, .swatch__button--square .swatch__link, .swatch__button--square input ~ label {
	width: 8px;
	height: 12px;
}
.swatch-limited {
	font-size: 9px;
}
.radio__fieldset--pgi .swatch__button {
	padding: 0;
}
.product-item__swatches__holder--limited .selector-wrapper__scrollbar .swatch-limited {
	padding-left: 2px;
}
.product-item__info.body-medium {
	flex-direction: row;
}
.product-item__swatches__holder {
	align-items: start;
	opacity: 1;
}
.collection__products .grid-outer {
	padding: 0 10px 0px;
}
.pagination-custom {
	padding: 10px 0 20px;
}
#custom_about {
	padding: 40px 40px 20px;
}
#custom_about .brick__block--text {	
	max-width: none;
}
#custom_about h6 {
	max-width: 200px;
	margin: 0 0 40px;
	font-size: 9px;
}
#custom_about p {
	letter-spacing: .3px;
	line-height: 16px;
	font-size: 10px;
}
body#about .column__image {
	max-width: 100px;
	margin-left: 80px;
}
.custom-section-row + .index-section .image-wrapper {
	padding-top: 139px;
}
#about .image-banner-section {
	margin-top: 24px;
}
#about .hero__content__wrapper.frame__item {
	padding-bottom: 60px;
}
#about .image__hero__scale.image__fill.lazy-image.lazy-image--backfill {
	min-height: inherit;
	max-height: inherit;
}
#about .image-banner-section{
	margin-top: 0;
}
.search-popdown .predictive-search .wrapper {
	padding: 0;
}
.predictive-search {
	padding: 0 !important;
}
.predictive-search__heading {
    font-size: 9px;
    margin: 0;
    padding-bottom: 20px;
    padding: 0 0px 20px;
}
.predictive-search__column {
	margin-bottom: 20px;
}
.search-popdown .product-item__image {
	padding-top: 137px;
	width: 100px;
}
.predictive-search__grid-item .product-item__info.body-medium {
	gap: 3px;
}
.predictive-search__layout {
	padding-bottom: 0;
}
.predictive-search__column + .predictive-search__column {
	margin-bottom: 0;
}
.predictive-search {
	min-height: auto;
	padding-bottom: 40px !important;
}
.theme__header .section-padding {
	padding: 0;
}
.search-popdown {
	top: 52px;
}
.predictive-search.predictive-search--empty{
	overflow: hidden;
}
.predictive-search.predictive-search--empty .wrapper{
	max-width: 100%!important;
}

.search_collection_wrapper {
	float: left;
	width: 100vw;

}
.search_collection_wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}



.search_collection_row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 262vw;
    padding-left: 20px;
    padding-right: 20px;
}
.no-js .theme__header .search-popdown, .no-js .theme__header .predictive-search, .theme__header header-search-popdown.is-open .search-popdown, .theme__header header-search-popdown.is-open .predictive-search {
    width: 100vw;
    padding-right: 0;
}
.predictive-search.predictive-search--empty p.predictive-search__heading{
	padding: 0 20px 20px;
}
.account .btn.btn--primary.btn--outline {
	width: 100%;
	max-width: none;
	float: left;
	padding: 9px 15px;
}
.account .forgot-password {
	margin-top: -5px;
}
.main-content {
	min-height: calc(100vh - 400px);
}
#Register {
	margin: 16px 0 80px;
}
#Register .page__heading + p {
	display: none;
}
.account-sidebar ul li, .account-sidebar__title.strong {
	font-size: 9px;
	margin: 0;
}
.account-sidebar .icon.icon-nav-arrow-down path{
	stroke: #fff;;
}
.account-sidebar__title .icon.icon-nav-arrow-down {
	width: 7px;
	height: auto;
}
.account-sidebar {
    margin: 0 0 30px;
}
.widget__link {
	font-size: 9px;
	line-height: normal;
}
.account-sidebar ul {
	padding: 10px 0;
}
.widget__links.widget__links--secondary li {
	padding: 0 0 10px;
}
section.account {
	margin: 30px 0 80px;
}
.account-main .page__heading {
	padding-bottom: 10px;
	border: none;
	font-size: 9px;
}
.account-main .page__heading + p {
	margin-top: 0;
}
.account-header h2, #AddressNewForm h2, addresses-component h2, strong.h6 {
	font-size: 9px;
}
.account-header h2 {
	margin: 0 0 45px;
	padding: 0 0 7px;
}
addresses-component .account-main p {
	line-height: 16px;
}
strong.h6 {
	margin: 0 0 10px;
}
.address-edit-toggle, .address-delete {
	font-size: 9px;
}
addresses-component .account-main p {
	margin: 0 0 15px;
}
addresses-component.grid.grid--account {
	margin-bottom: 0;
}
addresses-component .account-main {
	margin: 0;
}
#AddressNewForm .grid__item, 
addresses-component .grid__item {
	margin-bottom: 0;
}
addresses-component .account-main p.set_default {
	margin-bottom: 26px;
}
.account .btn.btn--primary.btn--outline {
	font-size: 9px;
}
.faqdropdown-trigger {
	padding: 8px 8px;	
	border: 1px solid #000;
   font-size: 9px;
	background: #000;
	color: #fff;
}
.faqdropdown-trigger .icon.icon-nav-arrow-down path{
stroke: #fff;
}
.faqdropdown-trigger .icon.icon-nav-arrow-down {
	width: 7px;
	height: auto;
}
.faqmenu_mo .widget__links.widget__links--secondary li {
	padding: 10px 0px 0;
}
#faq_section-sidebar .accordion {
	border-bottom: 0px solid var(--border);
	margin-top: 0;
	padding-top: 7px;
	padding-bottom: 15px;
}
#faq_section-sidebar .accordion__title {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	font-size: 9px;
	font-family: var(--FONT-STACK-BODY);
	font-style: var(--FONT-STYLE-BODY);
	font-weight: var(--FONT-WEIGHT-BODY);
	letter-spacing: .5px;
}
#faq_section-sidebar [data-collapsible-trigger] .icon {
	top: 35%;
	right: 0;
}

#faq_section-sidebar .accordion__content {
	padding: 5px 0 0;
}
#faq_section-sidebar .accordion__content p {
	margin-top: 0;
}
#faq_section-sidebar h6.section-sidebar__title {
	display: none;
}
.section-sidebar__content collapsible-elements {
max-width: none;
}
.vertical-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
	margin: 0;
  }

  .product__slide {
    min-width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

.vertical-progress {
	width: calc(100% - 0px);
	height: 1px;
	left: 0px !important;
	transform: none;
	right: auto;
	top: auto;
        bottom: 0;	
}

  .vertical-progress-fill {
    width: 0%;
    height: 100%;
  }

.vertical-scroll {
    height: 61vh;
}
.vertical-scroll .product__slide, .vertical-scroll [data-slide], .vertical-scroll .media, .vertical-scroll .product__photo {
    height: 61vh!important;
	margin:0;
}
.cart-bar {
	background: #fff;
	box-shadow: none;
	opacity: 0;
	min-height: inherit;
}
 .cart-bar__form__wrapper {
	padding: 20px 20px 40px;
}
.product__block .product-form {
	width: 100%;
	min-height: 38px;
	position: relative;
}
.product__submit {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}
.product__submit.fixed{
	position: fixed;
	z-index: 999;
	background-color: #fff;
	padding: 20px 20px 40px;
}
#cart-bar {
	display: none !important;
}
#product-recommendations .grid-item {
	width: calc(100% - 50%);
	margin-right: 0;
	padding: 0 5px;
}
#product-recommendations .grid-outer {
	padding: 0 5px;
}
#product-recommendations {
	padding: 0 10px;
	margin-bottom: 60px;
}
#product-recommendations .slider__button {
	 display: blobk;
	 opacity: 1;
}
#product-recommendations .slider__button--prev {
	left: 0;
}
#product-recommendations .slider__button--next {
	right: 0;
}
.template-product [data-section-type="custom-content"] .brick__block--text {
	max-width: none;
}
.template-product [data-section-type="custom-content"] .brick__block__text {
	padding: 20px 0 3px !important;
}
.template-product [data-section-type="custom-content"] .hero__content.hero__content--compact.text-left {
	padding: 0 10px;
}
.product__content {
	background: #fff;
	padding: 20px 0 40px;
}
#product-recommendations h6.tab__title {
	padding: 20px 0;
	margin: 0 !important;
}
.product__page {
margin-bottom: 0;
}
.product__submit__item.product__submit__item--inline {
	background: #fff;
}
.product__block .swatch__button--square .sibling__link, 
.product__block .swatch__button--square .swatch__link, 
.product__block .swatch__button--square input ~ label {
	width: 15px;
	height: 20px;
}
.product__block.product__description.rte.block-padding {
	margin: 0;
}
.product__block.product__block--buttons {
	margin-bottom: 20px;
}
.additional_info {
	padding-top: 28px;
}
#contact-us-page h6 {
	display: none;
}
#contact .section-sidebar__content {
	margin-top: 20px;
}
#contact .index-contact {
	padding: 30px 0 20px;
	float: left;
	width: 100%;
}
#contact-us-page {
	margin: 0;
	padding: 0;
}
.wrapper--full-padded.policy_wrapper {
	margin-top: 20px!important;
	float: left;
	width: 100%;
}
.policy_wrapper .widget__links {
	display: flex;
	gap: 10px;
}
.policy_wrapper .widget__links a{
	color: #696969;
}
.policy_wrapper .widget__links a.is-selected{
	color: #131111;
}
body .shopify-policy__container {
	padding: 40px 0px 40px;
}
body .shopify-policy__container h1, body .shopify-policy__container h2, body .shopify-policy__container h3 {
	font-size: 9px;
}
.shopify-policy__title h1 {
	margin-bottom: 20px !important;
}
.shopify-policy__body p {
	margin: 0 0 15px;
}
.header__mobile__hamburger {
	margin-left: -5px;
}
#ring-size-guide .index-hero {
	padding: 0px;
}
#product-care .index-hero {
	padding: 0px;
}
#ring-size-guide .faqmenu_mo.large--hide,
#product-care .faqmenu_mo.large--hide {
	display: none !important;
}
#ring-size-guide .widget__links.widget__links--secondary.small--hide,
#product-care .widget__links.widget__links--secondary.small--hide {
	display: flex !important;
    gap: 10px;
}
#ring-size-guide .widget__links.widget__links--secondary.small--hide a,
#product-care .widget__links.widget__links--secondary.small--hide a {
	color:#696969;
}
#ring-size-guide .widget__links.widget__links--secondary.small--hide a.is-selected,
#product-care .widget__links.widget__links--secondary.small--hide a.is-selected {
	color:#131111;
}
#ring-size-guide .section-sidebar,
#product-care .section-sidebar {
	padding: 20px 0;
}
#ring-size-guide .section-sidebar__content,
#product-care .section-sidebar__content {
	margin-top: 30px;
}
.section-sidebar__text.rte h5 {
	font-size: 9px;
	margin: 0 0 5px;
}
.section-sidebar__text.rte ul {
	margin-bottom: 20px;
}
.section-sidebar__content.no_accordion .section-sidebar__text.rte p {
	margin-bottom: 20px;
}
mobile-menu .drawer__inner{
	top: 83px;
}
#product-care .section-sidebar__text.rte h5 {
	margin: 0px 0 5px;
}
.sliderule__chevron .icon.icon-nav-arrow-down {
	width: 8px;
	height: auto;
}
.sliderule__chevron .icon.icon-nav-arrow-down path{
	fill:transparent;
}
.drawer__main-menu .sup{ 
	display:none!important;
}
.collection-list.grid--mobile-slider .grid-item {
	width: calc(100% - 59%);	
}
.brick__block--three-quarters {
	flex: 0 0 82%;
}
.template-index .four-fifty-height-hero--mobile {
	min-height: inherit;
	padding-bottom: 125%;
} 
body.scrolled mobile-menu .drawer__inner {
    top: 51px;
}
.collection__sidebar__head h3 {
	font-size: 12px;
}
.popout--sort::after {
    top: 0px;
}
.popout--group {    
    top: 0;
}
.product-item .product-item__swatches__holder {
	margin: 0 -5px;
}
.product-item .product-item__swatches__holder .radio__fieldset--pgi {
	background-color: transparent;
}
#cart-drawer .drawer__inner {
    max-width: 100%;
}
.navlink--cart--text .header__cart__status {
	height: auto;
	padding: 0;
}
.search_collection_wrapper {
	padding-bottom: 20px;
}
.custom-form__block.textarea_full + .custom-form__block{
	width:100%;
}
.product__block.product__block--buttons {
	background: transparent;
}
.template-collection .seven-fifty-height-hero {
	min-height: 200px;
}
.template-collection .hero__wrapper.frame.wrapper--full-padded {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 0;
	padding-bottom: 0;
}
.template-collection .index-rte .hero__content__wrapper {
	max-width: none;
	padding: 0 20px;
}
.template-collection .index-rte.section-padding{
	padding:60px 0 40px;
}
.template-collection h2.hero__title {
	font-size: 9px;
}
.collection-new-collection .product-item--featured-image {
	grid-column: span 1;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image {
	padding-left: 30px;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image {
	margin-top: 20px;
	margin-bottom: 20px;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image + .product-item--featured-image {
	padding-right: 30px;
}
.collection-new-collection .grid-outer.featured_width_wrapper--full-padded .product-item--featured-image + .product-item--featured-image {
	margin-top: 20px;
	margin-bottom: 20px;
}
.collection-alt-collection .product-item--featured-image {
    grid-column: span 1;
}
#about #MainContent .image-banner-section:last-child .hero__wrapper.frame.wrapper--full-padded {
	padding-left: 20px;
	padding-right: 20px;
}
.swatch-white input ~ label::after, .swatch-white .sibling__link::after, .swatch-white .swatch__link::after {		
	background: #696969;
	border:none;
}
.template-product .custom-section-row .brick__block__image {	
	padding: 0 10px;
}
.image-banner-section + .section-overlay-header .index-image-text .brick__section.image-height{
	padding-bottom: 0px;
}
.accordion {
	border-color: #8B8B8B;
}
theme__header header-search-popdown.is-open .predictive-search {
    --results-height: 100vh !important;
	height: 100vh !important;
  }
.predictive-search {
	max-height: 100vh;
}
.predictive-search__actions span {
	font-size: 10px;
	
}
.predictive-search__heading {
	padding-bottom: 10px;
}
.predictive-search__item {
	font-size: 10px;	
}
.newsletter__message {
	text-align: left;
	font-size: 10px;
}

  

} 
/*END 767px*/