.header__logo__text path {
	fill: currentColor;
}
.announcement__text > div {
	font-size: 12px;
	letter-spacing: 0.3px;
}
.announcement__text {
	min-height: 30px;
}
.navlink--toplevel {
	text-transform: uppercase;
	font-size: 12px;
}
.navlink--toplevel span, .parent .navlink--child span, .grandparent .navlink--grandchild span {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.navlink--cart--text .header__cart__status::before {
	display:none;
}
.navlink__cart__content {
	gap: 3px;
}
.navlink--toplevel {
	padding: 0px 8px 0;
}
.grandparent .dropdown__family {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 0;
}
.header__grandparent__links {
	padding-right: 40px;
}
.navlink {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
body.grid-classic .grandparent .menu__blocks .menu__block {
	padding: 0 10px;
}
.grandparent .header__dropdown__inner {
	padding: 60px 0 80px;
}
.header__desktop .navlink.navlink--toplevel svg {
	display: none; 
}
.navlink.navlink--toplevel.top_link_home .navtext{
    display:none;
}
.navlink.navlink--toplevel.top_link_home .navtext + svg{
    display:block;
	position: relative;
  top: -1px;
}
.navlink.navlink--toplevel.top_link_home {
	margin-right: 24px;
    padding-top: 0;
}
.grid__items-holder {
	margin-top: 42px;
}
.grid-outer {
	padding: 0 10px;
}
.collection-item__info span {
    font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.collection-item__info span .sup{
	display: none;
}
.collection-item--centered .collection-item__info {
	text-align: left;
	padding: 10px 0;
}
.hero_text_below_true .hero__wrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 0;
}
.hero_text_below_true .hero__content {
	padding: 0;
    margin:20px 0 80px;
}
.template-index .brick__block.brick__block--images:first-child {
	padding-left: 120px;
}
.template-index .brick__section--reversed .brick__block.brick__block--images:first-child {
	padding-left: 0px;
    padding-right: 120px;
}
.brick__block--three-quarters {
	flex: 0 0 60%;
}
.index-image-text .hero__content {
	align-items: center;
}
#shopify-section-template--25793607106858__section_double_tYnKWg .hero__button {
	width: 84%;
  margin: -38px 0 0;
  padding: 0 15px;
}
.footer__block__title {
	display: none !important;
}
.site-footer{
	font-size: 12px;
	letter-spacing: 0.5px;
}
.footer__quicklinks li a {
	position: relative;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.footer__quicklinks li {
	margin: 0 0 7px;
}
.rte.footer__newsletter__text p {
	margin: 0;
	text-align:right ;
}
.newsletter-form .input-group__field {
	flex: 1 1 auto;
	border: 0;
	padding: 1em 1em 1em 0;
	color: var(--text);
	font-family: var(--FONT-STACK-BODY);
	font-style: var(--FONT-STYLE-BODY);
	font-weight: var(--FONT-WEIGHT-BODY);
	letter-spacing: var(--LETTER-SPACING-BODY);
	font-size: 12px;
	letter-spacing: 0px;
    opacity: 1;
  text-transform: lowercase;
  
}
.rte.footer__newsletter__text {
	margin-bottom: 50px;
}
.newsletter-form #subscribe-button-footer-0 {
	font-size: 11px;
	letter-spacing: .5px;
}
.footer__quicklinks li {
	margin: 0 0 8px;
	display: flex;
	width: fit-content;
}
.site-footer-wrapper.section-padding{
	padding-bottom: 120px;
}
.supporting-menu__copyright li {	
	padding: 0;
}
.supporting-menu__copyright {
	display: flex;
	align-items: center;
	justify-content: center;
}
.supporting-menu__copyright li.footerlogo {
	margin-left: auto;
}
.copyright_text{
    font-size: 12px;
	letter-spacing: 0.3px;
}
.supporting-menu__item.supporting-menu__item--copyright {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.supporting-menu__copyright {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 15px;
	width: 28%;
}
.newsletter__message {	
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background: transparent;
	font-size: 12px;
	font-style: normal;
	text-align: right;
}
.search-form input[type="search"] {    
	font-size: 12px;	
}
.icon.icon-search {
	width: 18px;
	height: auto;
}
.collection__products .grid-outer {
	padding: 0 10px;
}
.collection__nav {
	border-top: none;
	border-bottom: none;
}
.popout--sort .popout__toggle {
	padding: 0;
	border: none;
    float: left;
}
.popout--group .popout__toggle {
	padding: 0;
	border: none;
}
.icon.icon-filter {
	display: none !important;
}
.collection__nav--filter.collection__nav--sort {
	justify-content: flex-end;
	align-items: center;
    gap: 30px;
    padding: 10px;
    margin-top: 80px;
}
.collection_title {
	text-transform: uppercase;
	font-size: 11px;
	margin-right: auto;
	letter-spacing: 0.5px;
}
.popout--group .popout__toggle, .popout--sort .popout__toggle{
	 font-family: var(--FONT-STACK-BODY);
	font-style: var(--FONT-STYLE-BODY);
	font-weight: var(--FONT-WEIGHT-BODY);
	letter-spacing: 0.5px;	
    font-size:11px;
    text-transform:uppercase;
}
.popout-list__item a{
	 font-family: var(--FONT-STACK-BODY);
	font-style: var(--FONT-STYLE-BODY);
	font-weight: var(--FONT-WEIGHT-BODY);
	letter-spacing: 0.5px;	
    font-size:11px;
    text-transform:uppercase;
}
.pagination-custom__page {
	--link: var(--text);
	margin: 0 5px;
	display: block;
	padding: 0;
	transition: color .3s ease;
	border-radius: 0;
	font-size: 11px;
	border-bottom: 1px solid transparent;
}
.pagination-custom__page--active {
	box-shadow: none;
	border-color: currentColor;
}
.pagination-custom__prev, .pagination-custom__next{
    display:none !important;
}
.pagination-custom {
	padding: 40px 0 0;
}
.collection__products .grid-outer {
	padding: 0 10px 80px;
}
.popout--sort .popout__toggle {
	display: flex;
    gap: 5px;
}
.popout--sort .popout.is-active .popout__toggle__text:nth-child(1) {
  display: block;
}
.popout--group {
	position: relative;
	top: -1px;
}
.popout--sort .popout.is-active .popout__toggle__text:nth-child(2) {
	border-bottom: 1px solid;
}
.product-item--featured-image {
	grid-column: 1 / -1;
}
.product-item--featured-image .product-item__image {
	height: auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	margin: 0 -10px;
}


.product-item--featured-image .product-item__image-overlay {
	position: static;
}
.product-item--featured-image .product-item__bg {
	position: static;
	width: 100%;
  height: 100%;
}
.product-item--featured-image .product-item__image-content a{
	opacity:1!important;
	transform:translateY(0px)!important;
}
.product__wrapper {
	margin: 0;
	width: 100%;
}
.product__wrapper__inner {
	max-width: none;
	margin: 0 auto;
	width: 100%;
}
.product__content .form__width {
	max-width: 480px;
}
.product__content {
	padding-left: 0;
	padding-top: 186px;
	padding-bottom: 18px;
}
.product__title__wrapper {
	padding-right: 0;
	text-align: center;
}
.product__price__wrap {
	text-align: center;
	justify-content: center;
}
.product__block--lines {
	padding-top: 0;
	padding-bottom: 0;
	border-top: none;
	border-bottom: none;
}
.radio__legend__option-name.body-medium {
	display: none;
}
.radio__fieldset.radio__fieldset--swatches {
	flex-direction: column-reverse;
	gap: 20px;
}
.radio__legend__value {
	text-align: center;
}
.radio__fieldset--swatches .radio__buttons {
	margin: 0 -2px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.radio__fieldset.radio__fieldset--swatches {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swatch__button--square .sibling__link, .swatch__button--square .swatch__link, .swatch__button--square input ~ label {
	width: 15px;
	height: 20px;
	border-radius: 0;
}
.swatch__button--square .sibling__link::after, .swatch__button--square input ~ label::after {
	top: auto;
	left: 0;
	width: 100%;
	height: 1px;
	border-radius: 0;
	bottom: -5px;
}
.product__block{
	margin-bottom: 16px;
}
.product__description__content.rte p,
.product__description__content.rte {
	font-size: 12px;
	line-height: 150%;
	letter-spacing: 0.3px;
}
.product__block.product__description.rte.block-padding {
	padding: 40px 0 40px;
}
.product__block .accordion {
border-bottom: 0px solid var(--border);
	border-top: 0px solid var(--border);
}
.product__block--accordion .accordion__title {
	padding-top: 0;
	padding-bottom: 0;
}
.product__block.product__block--buttons {
	margin-bottom: 60px;
}
.accordion__title {
	text-transform: uppercase;
	
}
.product__block--accordion .accordion__title {
	letter-spacing: 0.5px;
}
.accordion__title .icon {
	width: 8px;
	height: auto;
}
.accordion__content {
	padding: 30px 0;
}
h6.tab__title {
	font-size: 11px;
	margin: 0;
	padding: 30px 0;
}
.template-product [data-section-type="custom-content"] .brick__block__text {
	flex-basis: 471px;
	max-width: none;
	padding: 40px;
	width: 100%;
	height: auto;
	margin: 0;
}
.template-product [data-section-type="custom-content"] .brick__block--text {
	align-items: start;
}
p:empty {
	display: none;
}
.template-product .hero__title, 
.template-product .hero__subheading, 
.template-product .hero__rte, 
.template-product .hero__description {
	margin-bottom: 20px;
}
.template-product .hero__button {
	margin: 0;
}




/* -------------------------------
   VERTICAL PRODUCT MEDIA SCROLLER
----------------------------------*/

.vertical-scroll {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.vertical-scroll::-webkit-scrollbar {
  display: none;
}

.vertical-scroll .product__slide,
.vertical-scroll [data-slide],
.vertical-scroll .media,
.vertical-scroll .product__photo {
  height: 100vh !important;
  scroll-snap-align: start;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
}
.vertical-scroll img, .vertical-scroll video, .vertical-scroll model-viewer {
	max-height: none;
	width: auto;
	object-fit: cover;
	width: 100%;
}

/* Progress bar container */
.vertical-progress {
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translateY(-50%);
	width: 2px;
	height: 224px;
	background: #ddd;
	border-radius: 0px;
	overflow: hidden;
	z-index: 50;
	background:#BBBBBB;
}

/* The actual red bar */
.vertical-progress-fill {
  width: 100%;
  height: 0%;
  background: #000; /* red/pink color */
  border-radius: 0px;
  transition: height 0.12s linear;
}
.product__images {	
	position: relative;
}

.select-popout .icon.icon-nav-arrow-down {
	height: 100%;
	width: 8px;
}
.product__submit__item--inline {
	gap: 5px;
	grid-template-columns: minmax(0,6.6rem) minmax(0,100%);
}
.select-popout--quantity .select-popout__toggle {
	padding: 5px 20px;
}
.select-popout__toggle .icon-nav-arrow-down {
	right: 20px;
}
.product__submit__buttons .btn{
	padding: 12px 10px;
}
.btn__price {
	display: none !important;
}
.header__cart__status::after{
	content:')'!important;
}
.header__cart__status::before{
	content:'(' !important;
	display: inline!important;
}
.navlink--cart--text .navtext {
	display: flex;
	white-space: nowrap;
	align-items: center;
	letter-spacing: 1px;
}
#cart-drawer .drawer__inner {
	max-width: 400px;
	padding: 0 10px;
}
.cart-block--top {
	padding: 23px 0;
	border-color: #D0CFCD;
}
.drawer__heading {
	font-size: 12px;
	text-transform: none;
	line-height: normal;
	letter-spacing: 0.3px;
}
.drawer__close {
	width: auto;
	height: auto;
	font-size: 12px;
	border-bottom: 1px solid #696969;
	padding: 0 0 1px;
}
.drawer__close:hover {
	border-bottom: 1px solid transparent;
}
.cart__item {
	padding: 0;
	border-bottom: 1px solid #D0CFCD;
}
.cart__item__image a {
	width: 100px;
	height: auto;
}
.cart__item__content {
	width: calc(100% - 100px);
	padding-left: 0;
	padding: 10px 10px;
	font-size: 11px;
	position: relative;
}
cart-items.drawer__items {
	margin-top: 20px;
}
.cart__item {
	border-top: 1px solid #D0CFCD;
	margin-bottom: 10px;
	border-bottom: 1px solid #D0CFCD;
}
.cart__item__title a {	
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.cart__item__price {
	font-size: 11px;
}
cart-items.drawer__items p.cart__price {
	display: none;
}
.cart__item__title {
	margin-top: 0;
	margin-bottom: 0;
}
.cart__item {
	align-items: inherit;
}
.cart__quantity-wrapper {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 10px;
	padding:0 10px;
}
.cart__quantity-counter {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: row-reverse;
}
.drawer__items .cart__item__remove {
	margin-top: 0px;
	font-size: 12px;
	text-transform: capitalize;
	border-bottom: 1px solid;
	letter-spacing: 0.3px;
}
.drawer__items .cart__item__remove:hover{
	border-bottom: 1px solid transparent;
}
.cart__quantity .cart__quantity-field {
	padding: 2px 15px;
	font-size: 11px;
	border-color: transparent;
}
.cart__quantity .icon {
	--icon-size: 10px;
}
.cart__quantity {	
	width: 62px;
}
.cart__item__selected-options strong {
	display: none;
}
.cart__view.btn.btn--primary.btn--outline {
	display: none!important;
}
.cart__total__label {
	text-transform: capitalize;
	letter-spacing: 0.5px;
	padding-right: 10px;
	font-size: 12px;
}
.cart__total__price {
	font-size: 11px;	
	letter-spacing: 0.5px;
}
.drawer .cart__foot__inner {
	padding: 10px 0;
	border: none;
}
.btn.btn--primary.btn--outline.btn--full.cart__checkout {
	padding: 10px 10px;
	font-size: 11px;
	letter-spacing: 0.5px;
}
.cart__note.text-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	color:#696969;
	font-size: 12px;
  letter-spacing: 0.5px;
}
.cart__note.text-center span{
	color:#131111;
}
.drawer__empty__inner {
	justify-content: start;
	text-align: left;
	align-items: start;
}
.drawer__empty__message {
	text-align: left;
	font-size: 12px;
	width: 100%;
	margin: 20px 0 0;
}
.drawer__empty__inner .btn.btn--outline.btn--primary {
	max-width: none;
	width: 100%;
	padding: 10px 10px;
	font-size: 11px;
	letter-spacing: 0.5px;
}
.drawer__empty__inner {
	padding: 0;
}
.popout__toggle .icon.icon-nav-arrow-down {
	height: auto;
	width: 8px;
}
.swatch__button .sibling__link::after, .swatch__button input ~ label::after {
	background: #696969;
}
#custom_about h6 {
	max-width: 241px;
	line-height: normal;
}
#custom_about  .brick__block__text {
	flex-basis: 600px;
	padding: 0;
}
#custom_about {
	padding: 120px 100px;
}
#custom_about p {
	letter-spacing: .3px;
	line-height: 18px;
}
#custom_about .hero__rte {
	margin: 0;
}
body#about .column__image {
	width: 100%;
	max-width: 161px;
	float: right;
	margin-left: auto;
}
.search-popdown {
	top: 60px;
	box-shadow: none;
	background: #fff;
	margin-top: 0;
}
.search-popdown + .underlay {
	top: 0;
	/* background: transparent; */
	background: #f2f2f1;
	opacity: 0.1;
}
.search-popdown__main {
	background: transparent;
	height: 80px;
}
.search-popdown .wrapper {
	padding: 0 0px;
	max-width: 100%;
}
.search-popdown .search-form {
	position: relative;
}
.search-popdown__submit {
	width: 9px;
	margin-left: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 5px;
}
.search-form input[type="search"] {
	font-size: 12px;
	padding: 0 0 4px;
	border-bottom: 1px solid #696969;
}
.search-popdown input[type="search"]::placeholder{_
	letter-spacing: 0.3px;
	opacity: 1;
	color: #696969;
}
.search-popdown__close {	
	width: auto;
	right: -30px;
}
.search-popdown__close__button {
	width: 30px;
	height: 30px;	
}
.search-form button[type="reset"] {
	display: none!important;
}
.no-js .theme__header .search-popdown, .no-js .theme__header .predictive-search, .theme__header header-search-popdown.is-open .search-popdown, .theme__header header-search-popdown.is-open .predictive-search {
	width: 100%;	
}
.search-form .input-holder {
	max-width: 802px;
	margin: 0 auto;
}
.predictive-search {
	top: 50px;
	padding: 20px 20px !important;
	background: #fff;
}
.predictive-search.predictive-search--empty {
	top: 80px;	
	background: #fff;
}
.search-popdown .predictive-search .wrapper {
	max-width: 802px;
	padding: 20px 0;
}
.predictive-search__column .predictive-search__group:nth-child(2) {
	display: none;
}
.predictive-search__layout {
	display: flex;
	justify-content: space-between;
	padding-bottom: 55px;
}
.predictive-search__column {
	width: 200px;
}
.predictive-search__column + .predictive-search__column {
	width: 320px;
}
.predictive-search__products__list .grid {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.search-popdown .product-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}
.search-popdown  .product-item__image {
	padding-top: 137px;
	height: auto;
	width: 100px;
}
.predictive-search__products__list.grid-outer {
	padding: 0;
}
.search-popdown .product-item {
	margin-bottom: 0;
	display: none;
}
.search-popdown .product-item:nth-child(1),
.search-popdown .product-item:nth-child(2){
	display: inherit;
}
.predictive-search__link {	
	padding: 0;
}
.predictive-search__item {
	margin-bottom: 6px;
	font-size: 12px;
	letter-spacing: 0.5px;
}
.predictive-search__actions.aos-animate {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #696969;
	padding: 10px 0 0;
}
.predictive-search__actions .btn {
	text-transform: capitalize;
}
.predictive-search__actions span {
	font-size: 12px;
	letter-spacing: 0.5px;
}
main-search {
	display: none;
}
.search__caption.caps {
	padding: 0;
	margin: 0;
	width: auto;
	border: none;
	position: absolute;
	left: 20px;
	top: 58px;
	z-index: 13;
}
.template-search .collection__nav--filter.collection__nav--sort {	
	margin-top: 0;
}
#contact .wrapper--narrow {
	max-width: 480px;
}
.contact-form .custom-form__block {
	margin-bottom: 0px;
	width: calc(50% - 10px);
	
}
#contact-us-page h6 {
	width: 100%;
	margin: 0 0 0px;
}
.custom-form__block.custom-form__block--heading {
	width: 100%;
}
.custom-form__block.textarea_full {
	width: 100%;
	margin-bottom: 0;
}
#contact-us-page {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0px 0;
}
.field {
	width: 100%;
	padding: 0 0 2px;
		border-radius: 0;
	margin: 0;
	border-color: #D0CFCD;
	outline: none!important;
}

textarea.field {
	border: 1px solid #D0CFCD!important;
	resize: none;
	padding: 10px;
	height: 150px;
}
.custom-form__block.custom-form__block--heading p {
	margin-top: 0;
}
.contact-form .form-success {
	max-width: 400px;
	margin: 0;
	border: none;
	text-align: left;
	padding: 0;
	box-shadow: none;
	font-weight: 400;
	color: green;
}
.field::placeholder{
	opacity: 1!important;
	color: #696969!important;
}
.field::-webkit-input-placeholder{
	opacity: 1!important;
	color: #696969!important;
}
.field::placeholder, .field:autofill, .field:autofill:hover, .field:autofill:focus, .field:autofill:active {
	-webkit-text-fill-color: #696969!important;
}
.collection-item__info {
  padding: 10px 0;
}
.product-information .price {
	color: #131111;
}
.product-item__info.body-medium {
	display: flex;
	align-items: start;
	justify-content: space-between;
}
.selector-wrapper__scrollbar {
	margin: 0;
	padding: 0;
}
.product-item--left .radio__fieldset--swatches .swatch__button {
	margin: 0 7px 0 0;
}
.section-sidebar__aside {
	flex: 0 0 30%;
	padding: 0;
}
.section-sidebar__content {
	flex: 0 1 100%;
	padding:0;	
}
.section-sidebar__content collapsible-elements {
	width: 100%;
	max-width: 400px;
	float: left;
}
.section-sidebar__title {
	padding: 2px 0 0;
	margin: 0 0 40px;
	font-size: 11px;
	margin-bottom: 40px;
}
.section-sidebar__text.rte {
	display: flex;
	align-items: start;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 1px solid #696969;
	padding: 10px 0 40px;
}
.section-sidebar__text.rte h6 {
	margin: 0;
	width: 37%;
}
.section-sidebar__text.rte p {
	margin: 0 0 20px;
	width: 58%;
	margin-left: auto;
	letter-spacing: 0.5px;
}
.section-sidebar__text.rte p:last-child {
	margin: 0;
	margin-left: auto;
}
.section-sidebar__widget {
	padding-top: 0;
}
.widget__link {
	padding: 0 0 0px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: currentColor;
}
.widget__link:hover{
	opacity: 1;
	color: #000;
}
.widget__link:hover::after {
	opacity: 1;
	visibility: visible;
	transform: scaleX(1);
}
.widget__links.widget__links--secondary li {
	margin: 0 0 10px;
}
body .shopify-policy__container {
	margin: 0 auto;
	max-width: 460px;
	/* padding: 0 30px; */
	display: table;
	padding: 0;
	float: left;
}
.section-sidebar__body {
	padding-bottom: 100px;
}
.shopify-policy__body p {
	margin: 0 0 20px;
}
body .shopify-policy__container h1,
body .shopify-policy__container h2,
body .shopify-policy__container h3{
    font-family: var(--FONT-STACK-BODY);
	font-style: var(--FONT-STYLE-BODY);
	font-weight: var(--FONT-WEIGHT-BODY);
	letter-spacing: 0.5px;	
    font-size:11px;
    text-transform:uppercase;
    margin: 10px 0 25px;
    text-align: left;
	float: left;
  width: 100%;
}
body .shopify-policy__container p a:hover{
	color: #000;
}
body .shopify-policy__container p a:hover::after{
	width: 0%;
}
#customer_login .form-field.action-bottom {
	display: none;
}
.account .wrapper.wrapper--narrow {
	max-width: 480px;
}
.form-field input {
	width: 100%;
	padding: 0 0 0px;
	border-radius: 0;
	margin: 0;	
	outline: none !important;
	border: none;
  border-bottom: 1px solid #d0cfcd;
  font-family: var(--FONT-STACK-BODY);
  font-style: var(--FONT-STYLE-BODY);
  font-weight: var(--FONT-WEIGHT-BODY);
  letter-spacing: var(--LETTER-SPACING-BODY);
  font-size: 12px;
}
.form-field select {
	width: 100%;
	padding: 0 0 0px;
	border-radius: 0;
	margin: 0;	
	outline: none !important;
	border: none;
  border-bottom: 1px solid #d0cfcd;
  font-family: var(--FONT-STACK-BODY);
  font-style: var(--FONT-STYLE-BODY);
  font-weight: var(--FONT-WEIGHT-BODY);
  letter-spacing: var(--LETTER-SPACING-BODY);
  font-size: 12px;
}
.form-field ::placeholder {
	opacity: 1 !important;
	color: #696969 !important;
	 border-bottom: 1px solid #d0cfcd;
  font-family: var(--FONT-STACK-BODY);
  font-style: var(--FONT-STYLE-BODY);
  font-weight: var(--FONT-WEIGHT-BODY);
  letter-spacing: var(--LETTER-SPACING-BODY);
  font-size: 12px;
}
.form-field ::-webkit-input-placeholder {
	opacity: 1 !important;
	color: #696969 !important;
	 border-bottom: 1px solid #d0cfcd;
  font-family: var(--FONT-STACK-BODY);
  font-style: var(--FONT-STYLE-BODY);
  font-weight: var(--FONT-WEIGHT-BODY);
  letter-spacing: var(--LETTER-SPACING-BODY);
  font-size: 12px;
}
.form-field::placeholder, .form-field:autofill, .form-field:autofill:hover, .form-field:autofill:focus, .form-field:autofill:active {
	-webkit-text-fill-color: #696969 !important;
}
.account .forgot-password {
	display: flex;
	width: 100%;
	padding: 0;
	justify-content: space-between;
	align-items: start;
	flex-direction: column-reverse;
	gap: 20px;
}
.text-link.small[data-show-reset] {
	font-size: 11px;
}
.btn.btn--primary.btn--outline {
	width: 100%;
	max-width: none;
}
.account .forgot-password div {
	width: 100%;
}
.account {
	margin: 100px 0 100px;
	float: left;
  width: 100%;
}
.text-link::after{
	transition: width .3s ease-in;
}
.text-link:hover::after,
.text-link:hover::after{
	width: 0;
}
.text-link:hover,
.text-link:hover{
	opacity: 1;
	color: #000;
}
.text-link:hover, .text-link:hover::after, .rte a:hover, .rte a:hover::after, .hero__rte a:hover, .hero__rte a:hover::after, p a:hover, p a:hover::after {
	background-position: 100% 0;
}
.footer-sections {
clear: both;
}
.form__legal {
	display: none;
}
#Login .form-field.action-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.text-link a::after {
	display: none !important;
}
.text-link a {	
	padding: 0;
}
.form-field label.label--float {
	display: none !important;
}
.account-main .page__heading {
	text-align: left;
	padding-bottom: 40px;
	border-bottom: 1px solid #696969;
	margin: 0 0 10px;
}
.account .wrapper {
	max-width: none;
}
.account-main {
	max-width: 400px;
}
.account-sidebar {
	max-width: 400px;
	width: 100%;
}
.account-sidebar ul {
`	font-size: 11px;
	letter-spacing: 0.2px; 
}
.account-sidebar ul li:last-child {
	display: none;
}
.account-sidebar li.is-current a {
	color: #000;
}
.account-sidebar__title.strong {
	margin-bottom: 12px;
}
.account-header {
	margin-bottom: 0;
	flex-direction: column;
	align-items: start;
	border: none;
	padding: 0;
}
.account-header h2 {
	margin: 0 0 40px;
	padding: 0 0 40px;
	border-bottom: 1px solid #696969;
	width: 100%;
}
strong.h6 {
	margin: 0 0 20px;
	float: left;
	width: 100%;
}
addresses-component .account-main p {
	clear: both;
	font-size: 12px;
	line-height: 20px;
	margin: 0 0 20px;
}
.address-edit-toggle,
.address-delete {
	text-transform: uppercase;
	font-size: 11px;
	padding: 0 0 0px;
}
addresses-component .account-main hr {
	margin: 25px 0 20px;
}
addresses-component .account-main hr:nth-last-child(3){
	opacity: 0;
	margin-bottom: 10px;
}
.btn.btn--outline.btn--primary.address-new-toggle {
	max-width: 200px;
	font-size: 11px;
	padding: 10px 15px;
}
.grid.grid--2 {
	gap: 20px;
}
select, .popout__toggle {
	background-position: right 0px center;
	background-size: 13px auto;
}
#AddressNewForm .grid__item,
addresses-component .grid__item {
	margin-bottom: 10px;
}
#AddressNewForm h2 {
	margin-bottom: 40px;
}
.two_btns {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.two_btns .btn.btn--black.btn--outline,
.two_btns .btn.btn--primary.btn--outline {
	max-width: none;
	width: 100%;
	font-size: 11px;
	padding: 10px 15px;
}
.set_default {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* hide the default browser checkbox */
.set_default input[type="checkbox"],
.set_default input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
 width: 13.5px;
    height: 13.5px;
  border: 2px solid #888;
  border-radius: 50%;         /* round like your screenshot */
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none !important;   /* remove blue outline */
  margin: 0;
  padding: 0;
}

/* inner dot */
.set_default input[type="checkbox"]:checked::before,
.set_default input[type="radio"]:checked::before {
  content: "";
  width: 7px;
  height: 7px;
  background: #4a281c;
  border-radius: 50%;
  position: absolute;
     top: 2px;
    left: 2px;
    transform: none;
}

/* text */
.set_default label {
  color: #000;
  cursor: pointer;
}

addresses-component h2{
	margin-bottom: 40px;
}
addresses-component .account-main p.set_default {
	margin-bottom: 36px;
	margin-top: 5px;
}
.account-sidebar li.is-current a.widget__link::after {
	opacity: 1;
  visibility: visible;
  transform: scaleX(1);
}
table {
	border: 0px solid #696969;
}
.account table th {
	background: transparent;
	border: 0px solid #696969;
	padding: 15px 0;
	border-bottom: 1px solid #696969;
	text-align: left;
}
.account table td {
	background: transparent;
	border: 0px solid #696969;
	padding: 15px 0;
	border-bottom: 1px solid #696969;
	text-align: left;
}
.page-404.color-scheme-1 {
	padding: 120px 20px;
}
.btn.btn--outline.btn--primary {
	font-size: 11px;
	padding: 10px 15px;
}
#cartForm .cart__items .cart__quantity-counter {	
	width: fit-content;
}
#cartForm .cart__quantity-wrapper {
	position: static;
	order: 2;
}
#cartForm  .cart__items .cart__item__content-inner {
	order: 1;
	width: 80%;
}
#cartForm .cart__items .cart__price {
	order: 3;
}
#cartForm  .cart__item {
	border-top: 1px solid #696969;
}
#cartForm .cart__items {
	border-top: 0px solid var(--border);	
} 
.newsletter-form .input-group__field::placeholder, .newsletter-form .input-group__field:autofill, .newsletter-form .input-group__field:autofill:hover, .newsletter-form .input-group__field:autofill:focus, .newsletter-form .input-group__field:autofill:active {
	-webkit-text-fill-color: #8B8B8B;
}
.announcement__slide > div {
	min-height: 30PX;
}
.product-item__title {
	font-size: 11px;
	letter-spacing: 0.5px;
}
.product-item__price__holder {
	font-size: 11px;
	letter-spacing: 0.5px;
}
.popout--sort .popout__toggle__text:nth-child(2) {
	display: inline-flex;
	border-bottom: 1px solid;
	padding-bottom: 1px;
}
.popout--sort .popout-list__item {
	display: none;
}
.popout--sort .popout-list__item:nth-child(1),
.popout--sort .popout-list__item:nth-child(5),
.popout--sort .popout-list__item:nth-child(6){
	display: inherit;
}
.popout--sort .popout-list{
margin-top: 25px;
}
.popout--sort .popout-list--visible{
	width:160px;
	text-align: right;
	padding-bottom: 20px;
	
}
.popout-list__item a {
	font-family: var(--FONT-STACK-BODY);
	font-style: var(--FONT-STYLE-BODY);
	font-weight: var(--FONT-WEIGHT-BODY);
	letter-spacing: 0.5px;
	font-size: 11px;
	text-transform: uppercase;
	padding: 8px 15px;
	text-align: right;
	justify-content: flex-end;
}
.popout--sort .popout-list__item {
	min-width: 160px;
}
.popout-list__option {
	min-width: 160px;
}
.supports-touch hover-images::after {
	display: none!important;
}
.filter-group__heading .icon {
	--icon-size: 8px;
	right: 0;
}
.collection__sidebar__head h3 {
	font-size: 12px;
	letter-spacing: 0.3px;
	text-transform: none;
}
.filter-group__heading {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.5px;
}
.filter-group:not(.filter-group--hidden) ~ .collection__filters .filter-group, .filter-group:not(.filter-group--hidden) ~ .filter-group {
	margin-top: 15px;
}
.link--remove a, .link--remove label, .link--add a, .link--add label, .link--disable a, .link--disable label {
	letter-spacing: 0.3px;
	font-size: 12px;
}
.active__filters__clear, .active__filters__remove {
	letter-spacing: 0.3px;
	font-size: 12px;
	border: 1px solid #696969;
}
.pswp[data-pswp-option-classes*="pswp-zoom-gallery"] .pswp__caption, .pswp-zoom-gallery div.pswp__caption {
	font-family: var(--FONT-STACK-BODY);
  font-style: var(--FONT-STYLE-BODY);
  font-weight: var(--FONT-WEIGHT-BODY);
  letter-spacing: 0.5px;
  font-size: 11px;
}
.pswp[data-pswp-option-classes*="pswp-zoom-gallery"] .pswp__caption .pswp__caption-close .icon{
	--icon-size: 22px;
	top: 9px;
	left: 19px;
}
.pswp__thumbs {
	display: none !important;
}
.pswp__custom-close {
	--icon-size: 24px;
	width: 40px;
	height: 40px;
	padding: 8px;
}
.pswp[data-pswp-option-classes*="pswp-zoom-gallery"] .pswp__button--arrow--right, .pswp[data-pswp-option-classes*="pswp-zoom-gallery"] .pswp__button--arrow--left, .pswp-zoom-gallery .pswp__button--arrow--right, .pswp-zoom-gallery .pswp__button--arrow--left {
	width: 40px;
	height: 40px;
}
.footer__quicklinks li a::after {
	bottom: -1px;
}
.large--hide{
	display: none!important;
}
.predictive-search__grid-item .product-item__info.body-medium {
	flex-direction: column; 
}  
#shopify-section-template--25793607106858__double .hero__content.hero__content--compact.hero__content--no-padding .hero__button{
	display: none;
}
.template-collection #MainContent .section-overlay-header{
	display: none;
}
.additional_info {
	padding-top: 24px;
}
.product__images {
	position: sticky;
	position: -webkit-sticky;
	top: 60px;
	width: 50%;
	float: left;
}
.product__page {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
.product__content {	
	padding-top: 186px;
	padding-bottom: 186px;
	width: 50%;
	float: left;
}
#shopify-section-template--25800570634538__related {
	clear: both;
} 
.product-item--featured-image {
	grid-column: -3 / -1;
	padding-left: 0px;
	padding-right: 0px;
}
.product-item--featured-image .product-item__image {
	height: calc(100% - 50px);
	width: 100%;
	margin: 0;
}
.product-item--featured-image .product-item__image-overlay {
	display: none;
}
.search_collection_row {
    display: flex;
    align-items: start;
    gap: 10px;
}
.search_collection_row img {
    width: 100%;
	height: auto;
}
.search_collection_box {
    width: 100%;
	font-size: 11px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.search_collection_box span {
	padding: 10px 0 0;
	float: left;
	width: 100%;
}
.search_collections {
	padding-bottom: 60px;
} 
.header__menu .sup {
	display: none !important;
}
.product-item__swatches__holder{
	opacity: 0;
	transition: opacity 0.2s ease-in;
}
.product-item:hover .product-item__swatches__holder{
	opacity: 1;
}
.popout--sort {
	position: relative;
}
.popout--sort::after {
	position: absolute;
	width: 1px;
	height: 10px;
	background: currentColor;
	content: '';
	left: -15px;
	top: 1px;
	z-index: 1;
}
.collection__sidebar__slide-out.expanded {
	transform: translate(0%);
}
.collection__sidebar__slide-out {
	left:auto;
	top: 0;
	right: 0;
	transform: translate(100%);
	max-width: 400px;
	padding: 0 20px;
}
.collection__sidebar__slide-out.expanded {
	transform: translate(0%);
} 
.product-item--featured-image .image-wrapper img{
	position: static;
}
.collection__sidebar {
	padding: 40px 0;
}
.filter-group:not(.filter-group--hidden) ~ .collection__filters .filter-group, .filter-group:not(.filter-group--hidden) ~ .filter-group {
	margin-top: 20px;
}
.sidebar__item a::after, .sidebar__item label::after {
	width: 8px;
	height: 8px;
}
.sidebar__item.link--remove a::after, .sidebar__item input:checked ~ label::after {	
	box-shadow: none;
}
.sidebar__item.link--add label {
	padding-left: 13px;
}
.sidebar__item {
	margin: 5px 0 0;
}
.collection-nav {
	padding: 5px 0 15px;
}
.collection-nav .shopify-swatch {
	display: none;
}
.filter-group:nth-child(2) .collection-nav{
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	width: 59%;
}
.filter-group:nth-child(2) .sidebar__item.link--add {
	width: 40%;
}
.collection__sidebar__head {
	padding: 26px 0;
	border-bottom: 1px solid #D0CFCD;
}
.collection__sidebar__close {
	color: #000;
	font-size: 12px;
	border-bottom: 1px solid;
	padding: 0;
	right: 0;
}
.collection__sidebar__close:hover {
	border-color: transparent;
}
.collection__sidebar__buttons {
	display: flex;
	width: 100%;
	column-gap: 10px;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-end;
	padding: 0 0 30px;
}
.collection__sidebar__buttons .btn.btn--primary.btn--outline.btn--full {
	width: 48%;
	max-width: none;
	min-width: auto;
}
.collection__sidebar__buttons .btn.btn--primary.btn--outline.btn--full[data-collection-sidebar-close]:first-child{
	display: none;
}
.collection__sidebar__buttons .btn.btn--primary.btn--outline.btn--full[data-collection-sidebar-close]::after{
	transform: translateZ(0)!important;
}
.collection__sidebar__buttons .btn.btn--primary.btn--outline.btn--full[data-collection-sidebar-close]:hover::after{
	transform:translate3d(0,100%,0)!important;
}
.popout__toggle__text[data-sort-button-text] {
	display: none !important;
}
.popout--sort .popout-list__item {
	min-width: 123px;
}
.popout-list__option:hover {
	background: transparent;
}
.popout-list__option:hover span {
	border-bottom: 1px solid;
}
.popout-list__option span {
	border-bottom: 1px solid transparent;
}
.popout__toggle .icon.icon-nav-arrow-down {
	display: none;
}
.popout--sort::after {
	height: 7px;
}
.product__block .radio__fieldset {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 15px;
}
.selector-wrapper--size .radio__legend__option-name.body-medium {
	 display: inline-block; 
	text-align: center;
	width: 100%;
	margin-top: 20px;
}
.account .page__heading {
	text-align: left;
	margin: 0;
}
.form-field:empty {
	display: none;
}
.two_field {
	display: flex;
	flex-wrap: wrap;
	column-gap: 12px;
	align-items: start;
}
.two_field .form-field {
	max-width: none;
	width: calc(50% - 6px);
}
.text-link.small[data-show-reset] {
	font-size: 10px;
	float: left;
	padding: 0 0 3px;
	color: #696969;
	border-color: #696969;
	letter-spacing: 0.3px;
	
}
.text-link.small[data-show-reset]::after{
	opacity: 0.3;
}
.account .btn.btn--primary.btn--outline {
	width: 100%;
	max-width: 200px;
	float: left;
}
.account .forgot-password {
	margin-top: -10px;
}
.form-field.action-bottom + p,
#create_customer + p {
	text-align: left;
	font-size: 10px;
	letter-spacing: 0.3px;
	color: #696969;
	margin: 0;
}
.form-field.action-bottom + p a.text-link,
#create_customer + p .text-link a {
	font-size: 10px;
	letter-spacing: 0.5px;
	color: #696969;
	padding-bottom: 3px;
}
.form-field.action-bottom + p a.text-link::after,
#create_customer + p .text-link a::after{
	opacity: 0.3;
}
#create_customer .forgot-password {
	margin-top: 0;
}
#Register {
	margin: 120px 0;
}
#Register .page__heading + p {
	text-align: left;
	margin: 24px 0 5px;
}
form .errors, .form-errors {
	padding: 0;
	margin-bottom: 10px;
	border: none;
	border-radius: 0;
	background-color: transparent;
	color: currentColor;
	font-size: 12px;
}
[data-recover-password] .form-message p {
	text-align: left;
	margin-top: 18px;
	margin-bottom: 0;
}
#Login .form-field.action-bottom {
	justify-content: start;
	align-items: start;
}
[data-recover-password] .action-bottom .note {
	display: none!important;
}
form .errors ul, .form-errors ul {
	font-size: 12px;
}
.reset-password h2 + p {
	text-align: left;
	margin-top: 20px;
}
.reset-password .form-field.action-bottom.center .note {
	display: none;
}
.reset-password .form-field.action-bottom.center {
	column-gap: 10px;
	display: flex;
}
addresses-component.grid.grid--account {
	margin-bottom: 20px;
}
#address_form_new{
	padding: 40px 0 20px;
}
.set_default label {
	color: #696969;
	cursor: pointer;
	letter-spacing: 0.3px;
}
#AddressNewForm hr {
	display: none;
}
.btn.btn--outline.btn--primary.address-new-toggle {
	display: none;
}
#AddressNewForm.hidden + .btn.btn--outline.btn--primary.address-new-toggle {
	display: inherit;
}



/* ============================= */
/* DESKTOP – VERTICAL IMAGES */
/* ============================= */
.vertical-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

/* Desktop default */
.vertical-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}



.custom-form__block.custom-form__block--heading p.strong {
	display: none;
}
#contact-us-page {
	margin: 0;
	max-width: 400px;
}
.policie_links {
	flex: 0 0 30%;
	padding: 0;
}
.shopify-policy__wrap {
	flex: 0 1 100%;
	padding: 0;
}
.wrapper--full-padded.policy_wrapper {
	margin-top: 80px;
	margin-bottom: 0;
}
.shopify-policy__wrap .divider-container{
	display: none !important;
}
.shopify-policy__title h1 {
	margin-top: 0 !important;
	margin-bottom: 40px !important;
}
.shopify-policy__body {
	clear: both;
}
.shopify-policy__body p:last-child{
	margin-bottom: 0;
}
.section-sidebar__body {
	padding-bottom: 240px;
}
.section-sidebar__content.no_accordion .section-sidebar__text.rte p {
	width: 100%;
	margin-bottom: 30px;
}
.section-sidebar__content.no_accordion .section-sidebar__title{
	display: none !important;
}
.section-sidebar__content.no_accordion .section-sidebar__text.rte {
	gap: 0px;	
	border-top: 0px solid #696969;
	padding: 0;
}
.section-sidebar__text.rte h5{
	font-family: var(--FONT-STACK-BODY);
	font-style: var(--FONT-STYLE-BODY);
	font-weight: var(--FONT-WEIGHT-BODY);
	letter-spacing: .5px;
	font-size: 11px;
	text-transform: uppercase;
	margin: 0 0 20px;
	clear: both;  
  width: 100%;
}
.section-sidebar__text.rte ul {
	padding-left: 10px;
	margin-bottom: 30px;
	line-height: normal;
}
.section-sidebar__text.rte ul li {
	margin: 0;
}
#ring-size-guide .index-hero {
	padding: 20px;
}
#product-care .index-hero {
	padding: 20px;
}
.header__logo__text {
	float: left;
	height: auto;	
}
.header__logo__text svg,
.header__logo__text span {
	float: left;
}